html, body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* top panel */

.top-panel {
    border: 1px solid red;
}

/* main panel */

.main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* bottom panel */

.bottom-panel {
    display: block;
    overflow: auto;
    height: 100px;
    border: 2px solid green;
    min-height: 100px;
    font-family: 'Courier New', Courier, monospace;
}

/* main panel markup */

.left-panel {
    min-width: 300px;
    max-width: 300px;
    padding: 5px;
    border: 2px solid green;
    overflow: auto;
}

.center-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: black;
}

.right-panel {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    padding: 5px;
    overflow: auto;
    border: 2px solid green;
}

/* canvases */

#center_panel {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#image_canvas_panel {
    overflow: auto;
    text-align: center;
}

/* decorations */

#imageNumberInput {
    width: 100%;
    font-size: 20px;
}

#selectImageNumber {
    width: 100%;
    font-size: 20px;
}

#scaleFactor {
    color: white;
}

#currentImageInfoText {
    color: white;
}

#imageInfoRegionsSelector {
    min-height: 30px;
}

#region_preview {
    display: block;
    overflow: auto;
}

#image_list_container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#addTextureIDButton {
    width: 100%;
}

#texture_id_list_container {
    height: 200px;
    overflow: auto;
}

/* left menu elements */

.menu-item-title {
    padding: 5px 0px;
}

.bordered-panel {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.load-images-btn {
    display: block;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: #333333;
    border-radius: 5px;
    width: 100%;
}

.load-images-btn:hover {
    background-color: #ff0000;
}

.load-images-btn:active {
    background-color: #ff2222;
}